body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.must-provide {
    color:crimson;
}

.submit-button {
    background-color:lightsteelblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large;
    font-weight: bold;
    border-width: 1.5px;
}

.submit-button:active {
    background-color: lightslategrey;
}

.random-button {
    background-color:pink;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large;
    border-width: 1.5px;
}

.random-button:active {
    background-color:plum;
}

.textboxes {
    font-family:'Courier New', Courier, monospace;
}

.hints {
    font-size: small;
}

.container {
    display: flex;
    height: auto;
    width: 100%;
}

.left-section {
    flex: 0 0 80ch;
    padding: 10px;
    box-sizing: border-box;
}

.right-section {
    flex: 1 1 auto;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.error {
    color:brown;
    font-family: 'Courier New', Courier, monospace;
}

#dfa-canv {
    width: 1000px;
    height: 800px;
}
